.idea
**/*.o
**/__pycache__
**/.vagrant
**/plz-out
**/.terraform
**/.DS_Store

assembly/x86/arithmetic
assembly/x86/atomic
assembly/x86/guess_number

jenkins/docker/jenkins.yaml
jenkins/docker/env

python/http_requests/dest/memory
python/http_requests/dest/range_header
python/http_requests/dest/stream
python/mojo/*.log
