[project]
name = "app"
version = "0.1.0"
description = "Add your description here"
readme = "README.md"
requires-python = ">=3.13"
dependencies = [
    "torch",
    "transformers",
    "huggingface_hub[hf_xet]",
    "kokoro>=0.3.1",
    "soundfile",
    "misaki[en]"
]
